<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/lirepdrcss.css"/>
    
</head>

<body>
    <img src="/images/Pozadina.jpg" id="slika">
    
    <div class="divv" style="padding-top: 12px;">
        
        <ul>
            <form method="POST" action="\adminPregled">
                <li><input type="submit" value="Pregled" class="selektovano"></li>
            </form>
            <form method="POST" action="\dodaj">
                <li><input type="submit" value="Dodaj igraca"></li>
            </form>
            <form method="POST" action="\vratiSe">
                <li style="float: right;margin-right: 20px;"><input type="submit" value="ODJAVI SE" ></li>
            </form>
        </ul>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="divv" style="margin-bottom: 10px;">
        <h1 style="padding-bottom: 10px;"><b><%=dobrodosli %></b></h1>
        <h1 style="padding-bottom: 10px;">Victory grows through harmony</h1>
        <form method="POST" action="\adminPretraga">
            </td><input type="text" name="search">
            </td><input type="submit" class="dugme" value="Pretraži"><br><br>
        </form>

        <% if(igraci != ""){%>
        <table  style="width: 600px;margin: auto;margin-bottom: 15px;">
            <tr style='border-bottom: 1px solid black;'><th style="padding: 0px 10px">Ime igraca</th><th>Tim</th></tr>
                <%
                for (item of igraci)
                { 
                    %>
                        <tr>

                        <td style="font-size: 15px;"><cite><b><%=item.Ime%></b></cite></td>
                        <td><%=item.Tim%></td>
                        <form action="\prikaziAdmin" method="POST">
                            <input type="hidden" value="<%=item.id%>" name="igracID">
                            <td><input class="dugme"  type="submit" value="Detaljnije" style="padding: 5px 10px;width: 80px; background-color:black;">
                        </form>
                        <%
                            if(item.Tim=="Arsenal")
                            {
                        %>
                        <form action="\izbaciIzArsenala" method="POST">
                            <input type="hidden" value="<%=item.id%>" name="igracID">
                            <td><input style="width: 80px; background-color: red;"  class="dugme"  type="submit" value="Prodaj"></td>
                        </form>
                        <%
                        }
                        else
                        {
                        %>
                        <form action="\UbaciUArsenal" method="POST">
                            <input type="hidden" value="<%=item.id%>" name="igracID">
                            <td><input style="width: 80px; background-color:green" class="dugme"  type="submit" value="Kupi" ></td>
                        </form>
                        <%
                        }
                        %>
                        
                      
                            
                        </tr>
                <% }  %>
        </table>
        <%} else {%>
            <p><b><%=greska %></b></p>
        <% }%>
    </div>

</body>
</html>